:root {
    /* --primary-color: rgb(116, 143, 252);
    --dark-color: rgb(59, 72, 128); */
    --primary-color: #e0e0e0;
    --dark-color: #bcbcbc;
    --text-color: rgb(233, 236, 239);
}

.output {
    margin-top: 150px;
    background-color: var(--primary-color);

    .categories {
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid rgba(0, 0, 0, 0.5);

        .category {
            flex: 0 0 90%;
            margin: 20px 0;
            padding: 10px;
            border-radius: 0.2em;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);

            h3 {
                font-size: 2em;
                font-weight: bold;
            }

            .classes {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .class-result {
                    padding: 5px;
                    flex: 0 0 49%;
                    background-color: #e0e0e0;
                    border-radius: 0.3em;
                    font-size: 2em;
                    margin: 5px 0;
                    display: flex;
                    justify-content: space-between;

                    > div {
                        padding: 10px;
                    }

                    .class-name {
                        font-size: 0.8em;
                        margin: auto 0;
                    }

                    .time {
                        font-weight: bold;
                        float: right;
                    }
                }
            }
        }
    }
}
