.output {
    background-color: #e1e2e1;
    padding: 10px 0;

    .categories {
        .category {
            background-color: white;
            margin: 10px 8px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
            border-radius: 4px;
            position: relative;

            .category-name {
                background-color: #ff9800;
                font-size: 24px;
                height: 60px;
                width: 100%;
                padding: 0;
                margin: 0;
                padding-left: 5px;
                display: flex;
                align-items: center;
                color: #000000;
            }

            .classes {
                .class-result {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .output {
        .categories {
            .category {
                width: 50%;
                margin: 10px auto;
            }
        }
    }
}
